page-about {
    .background-home {
        background: #1a0a3a;
        color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    ion-content{
        background: url('https://i.imgur.com/olLunTc.jpg')no-repeat fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    
    .circleheat{
        background-color: #ff3e62; 
        height: 65px;
        border-radius: 60%;
        right: 2%;
    }
    .circleice{
        background-color:#00ccff; 
        height:65px;
        border-radius: 60%;
        right: 2%;
    }

    .circle{
        height:60px;
        border-radius: 50%;
        right: 2%;
    }
    .manu-top{
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 28%; 
    }
    .manu-B{
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 28%; 
    }
      
}