<!--
  Generated template for the CloudyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="spruce">
      <ion-title>C L O U D Y</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding class ="bg">

<div><img class="manu-top" src="./assets/imgs/sheep.svg"></div>
<ion-label class="cloudy">C L O U D Y</ion-label>
<ion-label class="topic">"ชนิดของ...เมฆ"</ion-label>
<div class="sheep"><img class="manu-type" src="./assets/imgs/type.svg" style="height: 100%;width: 100%;" ></div>
<br>
<br>
<button ion-button ="button"(click)="name()">การเรียกชื่อเมฆ</button>
<br>
<button ion-button ="button"(click)="type()">เมฆแบ่งตามลักษณะรูปร่าง</button>
<br>
<button ion-button ="button"(click)="degree()">เมฆแบ่งตามระดับความสูง</button>
<div><img class="manu-under" src="./assets/imgs/sheep.svg"></div>
</ion-content>

