page-cloudy {
    //.bg{background-color:#023459;}
    .bg{
        background-image: url('../assets/imgs/cloud3.jpg');
        background-size: cover;
    }
    
    .manu-top{
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 15%;
    }
    .cloudy{
        color: #ffffff;
        text-align: center;
        font-size: 250%;
        font-weight: bold;
    }
    .topic{
        color: #fcf1d5;
        font-style: oblique;
        text-align: center;
        font-size: 250%;
        
    }
    .manu-type{
        margin-left: auto;
        margin-right: auto;
    }
    .button{background-color:#283b42;
        padding: 5px 45px;
        font-size: 150%;
        color: #fcf1d5; 
        //font-weight: bold;      
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .manu-under{
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 10%;
    }
    

}
