<!--
  Generated template for the NamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="peacock">
      <ion-title>N A M E</ion-title>
    </ion-navbar>
  </ion-header>
  
  
      <ion-content padding class=bg>
          <ion-slides pager="true" effect="flip">
            <ion-slide *ngFor="let slide of slider">
              <img [src]="slide.image" width="900px" height="600px">
              <p style="font-size:22px; padding-top: 2px; color: #fbf182; font-style: oblique; font-weight: bold " text-center [innerHTML]="slide.title"></p>
              <p style="font-size:15px; padding-top: 2px; color: #ffffff;" [innerHTML]="slide.description"></p>
            </ion-slide>
          </ion-slides> 
        </ion-content>
      
  