<!--
  Generated template for the TypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="heavy">
      <ion-title>T Y P E</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class=bg>
      <ion-slides pager="true" effect="cube">
        <ion-slide *ngFor="let slide of slider">
          <img [src]="slide.image" class="size">
          <p style="font-size:22px; padding-top: 2px; color: #252621; font-style: oblique; font-weight: bold " text-center [innerHTML]="slide.title"></p>
          <p style="font-size:15px; padding-top: 2px; color: #252621;" [innerHTML]="slide.description"></p>
          <img [src]="slide.image1" width="900px" height="600px">
          
        </ion-slide>
      </ion-slides> 
    </ion-content>
  
  