page-type {
    //.bg{background-color:#002c2f;}
    .bg{
        background-image: url('../assets/imgs/cloud6.jpg');
        background-size: cover;
    }
    .size{
        padding-left: 25%;
        padding-right: 25%;
    }
    
}