<!--
  Generated template for the DegreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="blueberry">
      <ion-title>D E G R E E</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bg">
      <ion-label class="topic">"แบ่งตามระดับความสูง"</ion-label>
      <ion-label class="content1">- เ ม ฆ ร ะ ดั บ สู ง -</ion-label>
      <ion-label class="content2">อยู่ในช่วง 6,000 เมตรขึ้นไป</ion-label>
      <ion-slides slidesPerView="2.5" spaceBetween="10" style="height:180px">
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/cirrocumulus.png" style="width:100%; height:100%">
              <br>
              <span>cirrocumulus</span>
            </div>
            
          </ion-slide>
          
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/cirrostratus.png" style="width:100%; height:100%;">
              <br>
              <span>cirrostratus</span>
            </div>
          </ion-slide>
    
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/cirrus.png" style="width:100%; height:100%">
              <br>
              <span>cirrus</span>
            </div>
          </ion-slide>
        </ion-slides>
      
  
  
      <ion-label class="content1">- เ ม ฆ ร ะ ดั บ ก ล า ง -</ion-label>
      <ion-label class="content2">อยู่ในช่วง 2,000 - 6,000 เมตร</ion-label>
  
  
        <ion-slides slidesPerView="2.5" spaceBetween="10" style="height:180px">
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/altocumulus.png" style="width:100%; height:100%">
              <br>
              <span>altocumulus</span>
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/altostratus.png" style="width:100%; height:100%;">
              <br>
              <span>altostratus</span>
            </div>
          </ion-slide>
  
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/nimbostratus.png" style="width:100%; height:100%">
              <br>
              <span>nimbostratus</span>
            </div>
            
          </ion-slide>
          
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/cumulonimbus.png" style="width:100%; height:100%;">
              <br>
              <span>cumulonimbus</span>
            </div>
          </ion-slide>
        </ion-slides>
  
        
        <ion-label class="content1">- เ ม ฆ ร ะ ดั บ ต่ำ -</ion-label>
      <ion-label class="content2">อยู่ในช่วง 2,000 เมตร</ion-label>
  
  
          <ion-slides slidesPerView="2.5" spaceBetween="10" style="height:180px">
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/cumulus.png" style="width:100%; height:100%">
              <br>
              <span>cumulus</span>
            </div>
            
          </ion-slide>
          
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/stratus.png" style="width:100%; height:100%;">
              <br>
              <span>stratus</span>
            </div>
          </ion-slide>
    
          <ion-slide>
            <div class="content3">
              <br>
              <img src="./assets/imgs/stratocumulus.png" style="width:100%; height:100%">
              <br>
              <span>stratocumulus</span>
            </div>
          </ion-slide>
        </ion-slides>
  
  
  </ion-content>
  