page-degree {
    .bg{
        background-image: url('../assets/imgs/cloud5.jpg');
        background-size: cover;
    }
    .topic{
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        font-size: 200%;   
    }
    .content1{
        color: #a8dff1;
        font-weight: bold;
        text-align: center;
        font-size: 140%;   
    }
    .content2{
        color: #ffffff;
        text-align: center;
        font-size: 100%;   
    }
    .content3{
        color: #ffffff;
        text-align: center;
        font-size: 90%;   
    }

}
