page-contact {
    .bg {background-color: #3b3a73}
    .text1{
        color: #ffffff;
        font-size: 150%;
        font-weight: bold; 
    }
    .text2{
        color: #ffffff;
        font-size: 100%; 
    }

}
