<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-home">
 <span ion-fixed style="height: 100%; width: 100%;padding-left:15px ">
    <!-- Header -->
    <h1>Select Climate</h1>
    <p></p>
    <h1>Settings</h1>
    <p></p>
    <h5 style="color: #998ead">Favorite Presets</h5>
    <br>
    <!-- Slide -->
    
    <ion-slides slidesPerView="2.5" spaceBetween="10" style="height:180px">
      <ion-slide>
        <div class="menu-home-active">
          <br>
          <img src="../../assets/imgs/sun.svg" style="width:35%; height:35%">
          <br>
          <span>Heat</span>
          <br>
          <span style="font-size:35px">10 ํ - 19 ํ</span>
        </div>
        
      </ion-slide>
      
      <ion-slide>
        <div class="menu-home-close">
          <br>
          <img src="../../assets/imgs/cool.svg" style="width:35%; height:35%">
          <br>
          <span style="color:#6285c6">cool</span>
          <br>
          <span style="font-size:35px">3 ํ - 7 ํ</span></div>
      </ion-slide>

      <ion-slide>
        <div class="menu-home-close">
          <br>
          <img src="../../assets/imgs/wet.svg" style="width:35%; height:35%">
          <br>
          <span style="color:#b381ff">wet</span>
          <br>
          <span style="font-size:35px">7 ํ - 10 ํ</span></div>
      </ion-slide>

      <ion-slide>
        <div class="menu-home-close">
          <br>
          <img src="../../assets/imgs/dry.svg" style="width:35%; height:35%">
          <br>
          <span style="color:#00ccff">dry</span>
          <br>
          <span style="font-size:35px">6 ํ - 9 ํ</span></div>
      </ion-slide>

    </ion-slides>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
    <span style="font-size:120px">19</span><span style="font-size:25px">temp</span></div>

    <!-- Wave Footer -->
    <div class="wave"></div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    </span>
    </ion-content>