page-home {
    .background-home {
        background: #1a0a3a;
        color: #ffffff;
    }
    
    .wave {
        position: absolute;
        background: #6285c6;
        width: 900px;
        height: 900px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
        opacity: 0.34;
        bottom: -125%;
        left: -70%;
    }
    
    .wave.wave1 {
        animation: drift 6000ms infinite linear;
    }
    
    .wave.wave2{
        animation: drift 8000ms infinite linear;
    }
    
    @keyframes drift {
        from{transform: rotate(0deg);}
        from{transform: rotate(360deg);}
    }
    
    .menu-home-active{
        height: 180px;
        //width: 200px;
        background: #ff3e62;
        border-radius: 10px;
        transform-origin: 50% 48%;
        
    }
    
    .menu-home-close{
        height: 180px;
        //width: 200px;
        border-radius: 10px;
        border-color: #ffffff; 
        border-style: solid;  
        
    }
}